backend/config/serviceAccountKey.json
.env
backend/.env
backend/node_modules
backend/dist        # Add this line to ignore the dist folder in the backend
frontend/node_modules
frontend/.next
frontend/out
frontend/.env.local                 